ion-icon {
    vertical-align: middle;
}
.slider {
 .caption {
    /* position the div in center */
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Playfair Display", Arial, serif;
    text-align: center;
    width: 100%;
 }
 p{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    letter-spacing: 4px;
}
p:before {
    position: absolute;
    top: 50%;
    left: -170px;
    width: 150px;
    height: 1px;
    content: '';
    background: rgba(255, 255, 255, 0.6);
}
p:after {
    position: absolute;
    top: 50%;
    right: -170px;
    width: 150px;
    height: 1px;
    content: '';
    background: rgba(255, 255, 255, 0.6);
}
}

.title {
    h1 {
        font-family: "Playfair Display", Arial, serif;
        font-weight: 400;
        position: relative;
        text-align: center;
    }
    h1:after, h1:before {
        width: 100px;
        height: 2px;
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: green;
        content: '';
    }
    h1:before {
        width: 80px;
        height: 2px;
        bottom: -12px;
    }
}

.viewButton{
    float: right;
}
